name: Release
on:
    push:
        branches: [main]

permissions:
    contents: write # required to push tags and create releases
    issues: write # if you want @semantic-release/github to open issues
    pull-requests: write # if you want PR comments/labels

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  persist-credentials: false # let semantic-release handle auth
            - uses: actions/setup-node@v4
              with:
                  node-version: 20
            - run: npm ci
            - run: npm run build
            - run: npx semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }} # provided by Actions
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }} # if you publish to npm
